:root {
    --jay-blue: #00549a;
    --mp-fuchsia: #d61c5b;
    --mp-tang: #f9763d;
    --mp-light-blue: #dee5f0;
    --mp-slate-grey: #b0aeb2;
}

.hero-container {
    background: url("./demandgen-rocket.svg"), linear-gradient(180deg, var(--mp-tang) 80%, transparent 80%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}

.hero-container h1 {
    font-size: 1.75rem;
}

.hero-container p {
    font-size: 1.25rem;
}

.card-box {
    background-color: #fff;
}